* {
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}


body {

   background-color: rgb(238, 231, 231);
   color: rgb(59, 56, 56);
   font-family: "Nunito", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   margin-top: 100px;

}


header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: rgb(238, 231, 231);
}




/* Nav */

.nav-menu {

   margin-bottom: 30px;
   margin-top: 30px;

}

.nav-list {
   display: flex;
   justify-content: space-evenly;
}

.nav-list-item a {
   color: rgb(26, 24, 24);

}

.nav-list-item:hover,
:focus {
   color: rgb(85, 2, 2);
   transform: scale(1.1);
}



/* Sections*/

.section-title {
   text-align: center;
   font-weight: 700;
   color: rgb(85, 2, 2);
   margin-bottom: 20px;
}

/* Hero */

.hero {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   background-color: #0000000c;
}

.hero-info {
   margin-right: 5%;
   text-align: center;
}

h1 {
   font-size: 50px;
   color: rgb(141, 3, 3);
   text-shadow: 1px 1px 5px #0000005b;
}

.my-photo {
   border-radius: 60%;
}


/* About */

#about {
   scroll-margin-top: 100px;
   margin: 30px 0px;
   padding: 15px;
}

/* Experience */

#experience {
   margin-bottom: 30px;
   padding: 15px;
}

.experience-list {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.experience-list-item {
   flex-grow: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border-radius: 2%;
   box-shadow: 1px 1px 5px 1px #0000005b;
}

/* Connect */

#connect {
   padding: 15px;
}

.connect-list{
   display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
}

.connect-list-item {
   margin-bottom: 10px;
min-width: 50%;
}

.connect-link {
   color: rgb(26, 24, 24);


}

.connect-info {
   display: flex;
   align-items: center;
  
   :hover,
   :focus {
      color: rgb(85, 2, 2);
      transform: scale(1.1);
   }
}

.connect-info p {
   margin-left: 15px;
}

svg {
   fill: rgb(85, 2, 2);
}